code { 
	font-weight: normal;
	background: none; 
}
pre {
	margin-bottom: ms(1);
}	
ul {
	list-style-type: disc; 
	list-style-position: inside; 
} 
ul.none {
	list-style-type: none;
}

span.label { 
	line-height:1.8; 
}

.orbit-wrapper .timer {
	display: none;
}
.orbit-wrapper .slider-nav span {
	opacity: 0;
	transition: opacity 400ms ease 0s;
}
.orbit-wrapper:hover .slider-nav span {
	opacity: 1;
}
.orbit-slide-outer {
	height: 100%;
	position: relative;
}
.orbit-slide-inner {
	margin: 0 auto;
	position: relative;
}