


.top-bar ul li {
font-family: $headerFontFamily;
font-weight: $headerFontWeight;

}


.top-bar { 

ul { 



&>li { 

a:not(.button) { color: $topBarLinkColor;

}
&:not(.name) {
&:hover, &.active, &:focus { 
background: lighten($topBarBgColor, 15%);

a { color: lighten($topBarLinkColor, 15%);
}
}
}
}
}
}
